
.clear {
	height: 0px !important;
}

#submit {
	padding-left: 0px;
	padding-right: 0px;
}

#navigation ul {
	margin-top: 25px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

#slider-cycle-nav {
	bottom: 60px;
}